@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fugaz+One&family=Lobster&family=Poppins:wght@300;400;500&family=Roboto:wght@300&family=Space+Grotesk:wght@500&family=Volkhov:wght@700&display=swap');

:root{
    --blue: #2a41e8;
    --orange: #ff5e14;
    --ligthGray: #8c8c8c;
    --darkGray: #292929;
    --black: #111111;
    --withe: #ffffff;
    --veryLigthGray: #f3f3f3;
    --small: 10px;
    --medium: 14px;
    --large: 28px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

button{
    cursor: pointer;
}

body{
    width: 100%;
    height: 100%;
}

.smallP{
    font-size: var(--small);
    color: var(--ligthGray);
    font-weight: 500;
    letter-spacing: 1px;
}
.titleH1 span{
    font-weight: 400;
    font-size: var(--large);
}

/* Ventana con la información de las propiedades */
.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #8c8c8c8d;
}
.cardModal{
    background-color: var(--withe);
    border-radius: 5px;
    margin: 20px;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}
.propertieSec1Modal{
    background-image: url(img/house7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-height: 220px;
    min-width: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 4px;
}
.propertieSec2Modal{
    border-top-right-radius: 5px;
}
.priceModal{
    width: 130px;
    align-self: center;
    border-radius: 2px;
    color: var(--withe);
    background-color: var(--orange);
}
.close{
    width: 100px;
    margin: 10px 0;
    align-self: center;
}




/* barra de navegación */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    padding-left: 30px;
    width: 160px;
}

.fav{
    border-left: 2px solid var(--veryLigthGray);
    height: 100%;
    padding: 30px;
}

.fav:hover{
    color: var(--blue);
    cursor: pointer;
}



/* buscador de propiedades */
#main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--veryLigthGray);
}
.main__searcher{
    color: var(--withe);
    background-image: url(img/hero-bg-image.jpg);
    background-repeat: no-repeat;
    background-position-x: -160px;
    height: 80vh;
    width: 96%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.main__searcher--div h1{
    font-size: var(--large);
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--veryLigthGray);
    padding: 20px;
    border-radius: 3px;
}
.main__searcher--div select{
    width: 138px;
    height: 36px;
    border: none;
    padding: 3px 5px 0 5px;
    border-radius: 4px;
}
.main__searcher--div input{
    width: 138px;
    height: 37px;
    border: none;
    padding: 2px 5px 0 5px;
    border-radius: 4px;
}
.main__searcher--div button{
    width: 138px;
    height: 36px;
    border: none;
    background-color: var(--blue);
    color: var(--withe);
    border-radius: 4px;
}




/* targetas con las propiedades */
.main__properties{
    gap: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main__properties--ContainerCards{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.main__properties--Card{
    width: 320px;
    margin-top: 10px;
}
.main__properties--Card:hover{
    cursor: pointer;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

.propertieSec1{
    background-image: url(img/house7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-height: 220px;
    min-width: 280px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.propertieSec1__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.propertieSec1__div label:last-child{
    background-color: var(--blue);
    width: 22px;
    height: 22px;
    border-radius: 3px;
}
.propertieSec1__div1 label{
    padding: 5px 10px;
    border-radius: 3px;
    font-size: var(--small);
    color: var(--withe);
}
.propertieSec1__div1 label:nth-child(1){
    background-color: var(--blue);
}
.propertieSec1__div1 label:nth-child(2){
    background-color: var(--orange);
}

.propertieSec1__div2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.propertieSec1__div2 div{
    display: flex;
    gap: 5px;
}
.propertieSec1__div2 label:nth-child(1){
    background-color: var(--veryLigthGray);
    border-radius: 5px;
    padding: 4px 13px;
    color: var(--blue);
}
.propertieSec1__div2 div label:nth-child(1){
    padding: 0;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-color: var(--darkGray);
}
.propertieSec1__div2 label:nth-child(2){
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-color: var(--darkGray);
}

.propertieSec2{
    gap: 15px;
    padding: 10px 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--withe);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.propertieSec2 h1{
    font-weight: 500;
    color: var(--darkGray);
    font-size: var(--large);
}
#name{
    color: var(--blue);
    font-size: var(--medium);
}
.propertieSec2__nameTime, .propertieSec2__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.propertieSec2__nameTime figure{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.propertieSec2__info figure{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.propertieSec2__info div{
    display: flex;
    gap: 8px;
}

.allPropertiesbtn{
    border: none;
    padding: 8px 22px;
    border-radius: 20px;
    color: var(--veryLigthGray);
    background-color: var(--black);
    cursor: pointer;
}




/* casa en venta */
.main__hotDeal{
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;

}
.main__hotDeal h1{
    font-size: var(--large);
}

.figure__background{
    background-image: url(img/isaac-benhesed-249429-unsplash-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding: 30px;
    align-items: end;
    min-height: 100px;
    min-width: 400px;
}
.buttonLigth{
    width: 106px;
    height: 24px;
    font-size: var(--small);
    border: none;
    font-weight: 500;
    border-radius: 3px;
    color: var(--blue);
}

.HouseForSale{
    margin-top: 20px;
}
.HouseForSale__div{
    background-color: var(--darkGray);
    width: 90vw;
    display: flex;
}
.HouseForSale__div h1{
    text-align: center;
    color: var(--withe);
    font-weight: 500;
    font-size: var(--large);
}
.HouseForSale__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px 10px;
    width: 100%;
    align-items: center;
}
.HouseForSale__info p{
    color: var(--veryLigthGray);
}
.HouseForSale__info button{
    color: var(--withe);
    border: none;
    border-radius: 4px;
    padding: 8px 25px;
    text-align: center;
    background-color: var(--orange);
}
.HouseForSale__infoContainer{
    display: flex;
    padding: 20px;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.infoIconsForSale{
    display: flex;
    gap: 20px;
    padding: 0 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.infoIconsForSale img{
    width: 75px;
}




/* propiedades por area */
.main_propertiesByArea{
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.main_propertiesByArea div{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.figure1, .figure2{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.figure1 img:first-child{
    width: 30%;
}
.figure1 img:last-child{
    width: 62%;
}

.figure2 img:first-child{
    width: 62%;
}
.figure2 img:last-child{
    width: 30%;
}





/* tarjetas con los agentes */
.main__agents{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
.main__agentsCards{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.main__agentsCard{
    padding: 20px;
    margin-top: 15px;
    border-radius: 3px;
    background-color: var(--withe);
}
.main__agentsCard img{
    max-width: 300px;
    border-radius: 3px;
}




/* vender propiedades */
.main__sellProperty{
    margin-top: 40px;
    color: var(--withe);
    background-image: url(img/hero-bg-image.jpg);
    background-repeat: no-repeat;
    background-position-x: -160px;
    width: 96%;
    height: 80vh;
    padding: 20px;
    display: flex;
    text-align: left;
    align-items: center;
}
.main__sellProperty--info{
    gap: 20px;
    width: 400px;
    padding: 40px;
    display: flex;
    margin-left: 100px;
    border-radius: 5px;
    flex-direction: column;
    background-color: var(--blue);
}
.main__sellProperty--info h1{
    font-weight: 500;
    font-size: 48px;
}
.main__sellProperty--info button{
    width: 200px;
    margin-bottom: 10px;
}




/*  */
.main_realEstate{
    display: flex;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
}
.main_realEstateCards{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.main_realEstateCard{
    width: 290px;
    height: 340px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--withe);
}

.verified{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.verified figure{
    gap: 4px;
    display: flex;
    width: 220px;
    align-items: center;
}
.verified figure img{
    width: 10px;
}

.main_realEstateCard img:nth-child(2){
    width: 170px;
}
.flagText{
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flagText img{
    width: 16px;
}
.main_realEstateCard label{
    border: none;
    font-weight: 500;
    margin-top: 10px;
    padding: 5px 10px;
    color: var(--blue);
    border-radius: 3px;
    font-size: var(--small);
    background-color: var(--veryLigthGray);
}




/* artículos y noticias */
.main__news{
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.newsCards{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.newCard{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--withe);
    width: 320px;
    margin-top: 10px;
}
.newCard figure{
    min-height: 220px;
    min-width: 280px;
    background-image: url(img/house9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.newCardDiv1{
    gap: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.newCardDiv1 label{
    width: fit-content;
    padding: 3px 20px;
    border-radius: 3px;
    color: var(--withe);
    background-color: var(--blue);
}
.newCardDiv1 h1{
    margin-bottom: 15px;
}
.newCardDiv2{
    gap: 5px;
    display: flex;
    align-items: center;
}




/* valores */
.main__values{

}




/* comentarios de los clientes */
.main__comments{
    height: 90vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    color: var(--withe);
    background-image: url(img/testimonials-bg-1.jpg);
}
.main__comments p:first-child{
    color: var(--withe);
}
.commentsP{
    font-size: 20px;
}
.main__comments h1{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 40px;
}
.main__commentsDiv{
    width: 100%;
    display: flex;
    margin-top: 170px;
    align-self: center;
    justify-content: space-between;
}
.commentsdiv1 img{
    width: 190px;
}
.commentsdiv2{
    gap: 10px;
    display: flex;
    align-items: center;
}
.commentsdiv2 div{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: var(--blue);
}



/* pie de página */
#footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--darkGray);
    color: var(--ligthGray);
    font-size: var(--medium);
}

.social_media{
    display: grid;
    padding: 20px;
    grid-template-columns: 3fr 60px 60px 60px 60px;
    grid-template-rows: 1fr;
    align-items: center;
    border-bottom: 1px solid var(--ligthGray);
}
.social_media div{
    border-left: 1px solid var(--ligthGray);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.footer__links a{
    color: var(--ligthGray);
}

.footer__links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 10px;
}

.information{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.properties{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.locations{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.useful_links{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.about_casaroyal{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.about_casaroyal a{
    font-weight: 600;
}

@media (max-width: 993px) {
    .main__searcher{
        width: 95%;
    }

    .main__sellProperty{
        width: 95%;
    }
}
@media (max-width: 798px) {
    .main__searcher{
        width: 94%;
    }

    .main__sellProperty{
        width: 94%;
    }

    .main__sellProperty--info{
        justify-self: center;
        margin: 10px;
        width: 320px;
        height: 300px;
    }
    .main__sellProperty--info h1{
        font-size: 40px;
    }

    .main__commentsDiv{
        margin-top: 100px;
    }
}

@media (max-width: 780px) {
    .propertieSec1Modal{
        min-width: 300px;

    }

    .cardModal{
        flex-direction: column;
    }

    .main__searcher--div{
        flex-direction: row;
    }

    .main__properties--Card{
        width: 100%;
        margin-top: 10px;
    }



    /* casa en venta */
    .HouseForSale__div{
        flex-direction: column;  
        background-color: #292929; 
    }

    .figure__background{
        min-width: fit-content;
        min-height: 250px;
    }

    .HouseForSale__info{
        width: fit-content;
        align-self: center;
    }

    .HouseForSale__infoContainer{
        padding: 20px 0;
    }

    .main__agentsCards .main__agentsCard:nth-child(2){
        display: none;
    }
    
    .main__agentsCards .main__agentsCard:nth-child(3){
        display: none;
    }


    .newCard{
        width: 100%;
        margin-top: 10px;
    }
}