@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fugaz+One&family=Lobster&family=Poppins:wght@300;400;500&family=Roboto:wght@300&family=Space+Grotesk:wght@500&family=Volkhov:wght@700&display=swap');

:root{
    --orange: #ff5e14;
    --black: #111111;
    --withe: #ffffff;
    --purple: #5e18bb;
    --green: #0ac763;
    --ligthPurple: #f0e3fe;
    --veryLigthGray: #f3f3f3;
    --small: 10px;
    --medium: 14px;
    --large: 28px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--veryLigthGray)
}

/* modal de cada producto */

/* modal de la dirección */
.locationSelect{
    width: 100vw;
    height: 125vh;
    display: flex; 
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #8c8c8c8d;
}

.locationSelectDiv{
    gap: 20px;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--withe);
}

.addressdiv{
    display: flex;
    padding: 7px 10px;
    border-radius: 8px;
    align-items: center;
    border: 1px solid var(--veryLigthGray);
}

.addressdiv select{
    padding-left: 4px;
    border: none;
}

.addressdiv option{
    border: none;
}

.locationSelectDiv img{
    width: 40px;
    cursor: pointer;
    align-self: flex-end;
}


/* barra de navegación */
.nav{
    width: 90%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.nav figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__div{
    gap: 15px;
    display: flex;
    align-items: center;
}

#location{
    display: flex;
    cursor: pointer;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.234);
}

.btnNav{
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnNav p{
    cursor: pointer;
    padding-top: 2px;
    margin-left: 5px;
}

.nav__div span{
    color: var(--orange);
}

/* secci{on de productos */
main{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.banner{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--withe);
    align-items: center;
    background-image: url(./img/banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#offers h1{
    text-align: center;
}

.offersContainer{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.offerCard{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offerCardiv{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.offerCard label{
    width: fit-content;
    padding: 3px 10px;
    border-radius: 20px;
    font-weight: 600;
    color: var(--purple);
    background-color: var(--ligthPurple);
}

.offerCardinfo{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 10px 20px 20px 20px;
    background-color: var(--withe);
}

.precio{
    font-weight: 600;
}

.nombre{
    font-size: 12px;
    margin-bottom: 30px
}

.button{
    padding: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: var(--withe);
    background-color: var(--green);
}