@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fugaz+One&family=Lobster&family=Poppins:wght@300;400;500&family=Roboto:wght@300&family=Space+Grotesk:wght@500&family=Volkhov:wght@700&display=swap');

:root{
    --orange: #ff5e14;
    --black: #111111;
    --withe: #ffffff;
    --veryLigthGray: #f3f3f3;
    --small: 10px;
    --medium: 14px;
    --large: 28px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    background-color: var(--veryLigthGray)
}



.banner{
    width: 100%;
    background-image: url(./img/banner.svg);
    background-repeat: no-repeat;
    background-size: contain;
}